@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:700,400,var(--single-line-body-base-font-weight),var(--title-page-font-weight),600|Roboto:var(--m3-display-medium-emphasized-font-weight)");
* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}
html,
body {
    margin: 0px;
    height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
    outline: 2px solid #4a90e2 !important;
    outline: -webkit-focus-ring-color auto 5px !important;
}
a {
    text-decoration: none;
}
:root {
    --single-line-body-base-font-family: "Inter", Helvetica;
    --single-line-body-base-font-weight: 400;
    --single-line-body-base-font-size: 16px;
    --single-line-body-base-letter-spacing: 0px;
    --single-line-body-base-line-height: 100%;
    --single-line-body-base-font-style: normal;
    --title-page-font-family: "Inter", Helvetica;
    --title-page-font-weight: 700;
    --title-page-font-size: 48px;
    --title-page-letter-spacing: -0.96px;
    --title-page-line-height: 120.00000762939453%;
    --title-page-font-style: normal;
    --m3-display-medium-emphasized-font-family: "Roboto", Helvetica;
    --m3-display-medium-emphasized-font-weight: 500;
    --m3-display-medium-emphasized-font-size: 45px;
    --m3-display-medium-emphasized-letter-spacing: 0px;
    --m3-display-medium-emphasized-line-height: 52px;
    --m3-display-medium-emphasized-font-style: normal;
}
.credits {
    background-color: transparent;
    display: grid;
    justify-items: center;
    align-items: start;
    width: 100vw;
}

.credits .div {
    width: 1200px;
    height: 6136px;
    position: relative;
}

.credits .footer {
    position: absolute;
    width: 1200px;
    height: 511px;
    top: 5625px;
    left: 0;
    background-color: #cd3c3cde;
    overflow: hidden;
    border: 1px solid;
    border-color: #b43c3c;
    box-shadow: 0px 4px 4px #00000040;
}

.credits .overlap {
    position: relative;
    width: 1399px;
    height: 794px;
    top: -146px;
    left: -65px;
}

.credits .overlap-group {
    position: absolute;
    width: 1399px;
    height: 794px;
    top: 0;
    left: 0;
}

.credits .ellipse {
    position: absolute;
    width: 779px;
    height: 794px;
    top: 0;
    left: 620px;
    background-color: #110a4a;
    border-radius: 389.5px / 397px;
}

.credits .project-name-closing {
    position: absolute;
    height: 30px;
    top: 558px;
    left: 692px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 15px;
}

.credits .text-wrapper {
    position: absolute;
    height: 20px;
    top: 533px;
    left: 692px;
    font-family: "Inter", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
}

.credits .text-wrapper-2 {
    position: absolute;
    height: 20px;
    top: 409px;
    left: 692px;
    font-family: "Inter", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
}

.credits .website-created-for {
    position: absolute;
    width: 562px;
    height: 75px;
    top: 434px;
    left: 692px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 15px;
}

.credits .text-wrapper-3 {
    position: absolute;
    height: 20px;
    top: 290px;
    left: 692px;
    font-family: "Inter", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
}

.credits .we-acknowledge-the {
    position: absolute;
    width: 460px;
    height: 86px;
    top: 310px;
    left: 692px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 15px;
}

.credits .aorigical-flag {
    position: absolute;
    width: 124px;
    height: 83px;
    top: 170px;
    left: 890px;
    object-fit: cover;
}

.credits .aboriginal-flag {
    position: absolute;
    width: 124px;
    height: 83px;
    top: 170px;
    left: 755px;
    object-fit: cover;
}

.credits .navigation-pill-list {
    display: flex;
    flex-wrap: wrap;
    width: 646px;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 8px 8px;
    position: absolute;
    top: 170px;
    left: 0;
}

.credits .navigation-pill {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 8px;
}

.credits .title {
    color: #ffffff;
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--single-line-body-base-font-family);
    font-weight: var(--single-line-body-base-font-weight);
    font-size: var(--single-line-body-base-font-size);
    letter-spacing: var(--single-line-body-base-letter-spacing);
    line-height: var(--single-line-body-base-line-height);
    white-space: nowrap;
    font-style: var(--single-line-body-base-font-style);
}

.credits .title-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px;
    position: absolute;
    top: 170px;
    left: 153px;
    border-radius: 8px;
}

.credits .div-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px;
    position: absolute;
    top: 170px;
    left: 79px;
    border-radius: 8px;
}

.credits .group {
    position: absolute;
    width: 336px;
    height: 106px;
    top: 291px;
    left: 156px;
}

.credits .overlap-group-2 {
    position: relative;
    width: 338px;
    height: 114px;
    left: -4px;
}

.credits .rectangle {
    width: 334px;
    height: 76px;
    top: 15px;
    left: 4px;
    background-color: #fdfdfd;
    position: absolute;
    border-radius: 25px;
}

.credits .text-wrapper-4 {
    position: absolute;
    height: 24px;
    top: 41px;
    left: 95px;
    font-family: "Inter", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.credits .CCD-logo-removebg {
    position: absolute;
    width: 114px;
    height: 114px;
    top: 0;
    left: 0;
    border: 5px solid;
    border-color: transparent;
    object-fit: cover;
}

.credits .credit-body {
    position: absolute;
    width: 1200px;
    height: 5625px;
    top: 0;
    left: 0;
    background-color: #ffffff;
}

.credits .div-2 {
    position: absolute;
    width: 1200px;
    height: 99px;
    top: 0;
    left: 0;
}

.credits .overlap-group-3 {
    position: absolute;
    width: 912px;
    height: 99px;
    top: 0;
    left: 288px;
}

.credits .header {
    flex-wrap: wrap;
    width: 912px;
    height: 99px;
    gap: 0px 24px;
    padding: 32px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #d9d9d9;
    display: flex;
    align-items: center;
}

.credits .block {
    display: inline-flex;
    align-items: center;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
}

.credits .navigation-pill-list-2 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 8px 8px;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.credits .title-2 {
    color: #1e1e1e;
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--single-line-body-base-font-family);
    font-weight: var(--single-line-body-base-font-weight);
    font-size: var(--single-line-body-base-font-size);
    letter-spacing: var(--single-line-body-base-letter-spacing);
    line-height: var(--single-line-body-base-line-height);
    white-space: nowrap;
    font-style: var(--single-line-body-base-font-style);
}

.credits .header-auth {
    width: 178px;
    gap: 12px;
    position: relative;
    display: flex;
    align-items: center;
}

.credits .button {
    all: unset;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px;
    position: relative;
    flex: 1;
    flex-grow: 1;
    background-color: #e3e3e3;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid;
    border-color: #d9d9d9;
}

.credits .button-2 {
    all: unset;
    box-sizing: border-box;
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--single-line-body-base-font-family);
    font-weight: var(--single-line-body-base-font-weight);
    color: #1e1e1e;
    font-size: var(--single-line-body-base-font-size);
    letter-spacing: var(--single-line-body-base-letter-spacing);
    line-height: var(--single-line-body-base-line-height);
    white-space: nowrap;
    font-style: var(--single-line-body-base-font-style);
}

.credits .button-3 {
    all: unset;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px;
    position: relative;
    flex: 1;
    flex-grow: 1;
    background-color: #2c2c2c;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid;
}

.credits .button-4 {
    all: unset;
    box-sizing: border-box;
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--single-line-body-base-font-family);
    font-weight: var(--single-line-body-base-font-weight);
    color: #f5f5f5;
    font-size: var(--single-line-body-base-font-size);
    letter-spacing: var(--single-line-body-base-letter-spacing);
    line-height: var(--single-line-body-base-line-height);
    white-space: nowrap;
    font-style: var(--single-line-body-base-font-style);
}

.credits .navigation-pill-2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px;
    position: absolute;
    top: 33px;
    left: 83px;
    border-radius: 8px;
}

.credits .navigation-pill-3 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px;
    position: absolute;
    top: 33px;
    left: 152px;
    border-radius: 8px;
}

.credits .img {
    position: absolute;
    width: 110px;
    height: 110px;
    top: 0;
    left: 0;
    border: 5px solid;
    border-color: transparent;
    object-fit: cover;
}

.credits .navigation-pill-4 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px;
    position: absolute;
    top: 33px;
    left: 280px;
    border-radius: 8px;
}

.credits .navigation-pill-5 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px;
    position: absolute;
    top: 33px;
    left: 347px;
    border-radius: 8px;
}

.credits .overlap-2 {
    position: absolute;
    width: 1200px;
    height: 511px;
    top: 99px;
    left: 0;
    background-color: #08062d;
}

.credits .text-wrapper-5 {
    position: absolute;
    top: 225px;
    left: 173px;
    font-family: var(--title-page-font-family);
    font-weight: var(--title-page-font-weight);
    color: #ffffff;
    font-size: var(--title-page-font-size);
    letter-spacing: var(--title-page-letter-spacing);
    line-height: var(--title-page-line-height);
    white-space: nowrap;
    font-style: var(--title-page-font-style);
}

.credits .image {
    width: 637px;
    height: 445px;
    top: 33px;
    left: 512px;
    border-radius: 35px;
    position: absolute;
    object-fit: cover;
}

.credits .overlap-3 {
    position: absolute;
    width: 371px;
    height: 67px;
    top: 728px;
    left: 415px;
    background-color: #3951b3;
    border-radius: 25px;
}

.credits .text-wrapper-6 {
    position: absolute;
    top: 3px;
    left: 20px;
    font-family: var(--title-page-font-family);
    font-weight: var(--title-page-font-weight);
    color: #ffffff;
    font-size: var(--title-page-font-size);
    letter-spacing: var(--title-page-letter-spacing);
    line-height: var(--title-page-line-height);
    white-space: nowrap;
    font-style: var(--title-page-font-style);
}

.credits .online-training {
    position: absolute;
    width: 165px;
    height: 165px;
    top: 875px;
    left: 106px;
    object-fit: cover;
}

.credits .online-training-2 {
    top: 1118px;
    left: 106px;
    position: absolute;
    width: 165px;
    height: 165px;
    object-fit: cover;
}

.credits .online-training-3 {
    top: 1350px;
    left: 932px;
    position: absolute;
    width: 165px;
    height: 165px;
    object-fit: cover;
}

.credits .online-training-4 {
    top: 1594px;
    left: 932px;
    position: absolute;
    width: 165px;
    height: 165px;
    object-fit: cover;
}

.credits .bui-gia-huy {
    position: absolute;
    top: 904px;
    left: 355px;
    font-family: var(--m3-display-medium-emphasized-font-family);
    font-weight: var(--m3-display-medium-emphasized-font-weight);
    color: #000000;
    font-size: var(--m3-display-medium-emphasized-font-size);
    letter-spacing: var(--m3-display-medium-emphasized-letter-spacing);
    line-height: var(--m3-display-medium-emphasized-line-height);
    font-style: var(--m3-display-medium-emphasized-font-style);
}

.credits .dang-minh-tam {
    position: absolute;
    top: 1391px;
    left: 510px;
    font-family: var(--m3-display-medium-emphasized-font-family);
    font-weight: var(--m3-display-medium-emphasized-font-weight);
    color: #000000;
    font-size: var(--m3-display-medium-emphasized-font-size);
    text-align: right;
    letter-spacing: var(--m3-display-medium-emphasized-letter-spacing);
    line-height: var(--m3-display-medium-emphasized-line-height);
    font-style: var(--m3-display-medium-emphasized-font-style);
}

.credits .huynh-minh-nam {
    position: absolute;
    top: 1624px;
    left: 477px;
    font-family: var(--m3-display-medium-emphasized-font-family);
    font-weight: var(--m3-display-medium-emphasized-font-weight);
    color: #000000;
    font-size: var(--m3-display-medium-emphasized-font-size);
    text-align: right;
    letter-spacing: var(--m3-display-medium-emphasized-letter-spacing);
    line-height: var(--m3-display-medium-emphasized-line-height);
    font-style: var(--m3-display-medium-emphasized-font-style);
}

.credits .bui-duc-toan {
    position: absolute;
    top: 1148px;
    left: 355px;
    font-family: var(--m3-display-medium-emphasized-font-family);
    font-weight: var(--m3-display-medium-emphasized-font-weight);
    color: #000000;
    font-size: var(--m3-display-medium-emphasized-font-size);
    letter-spacing: var(--m3-display-medium-emphasized-letter-spacing);
    line-height: var(--m3-display-medium-emphasized-line-height);
    font-style: var(--m3-display-medium-emphasized-font-style);
}

.credits .overlap-4 {
    position: absolute;
    width: 320px;
    height: 81px;
    top: 1806px;
    left: 440px;
    background-image: url(https://c.animaapp.com/mfbzqk8myGtnOK/img/rectangle-19.svg);
    background-size: 100% 100%;
}

.credits .text-wrapper-7 {
    position: absolute;
    top: 11px;
    left: 53px;
    font-family: var(--title-page-font-family);
    font-weight: var(--title-page-font-weight);
    color: #ffffff;
    font-size: var(--title-page-font-size);
    text-align: right;
    letter-spacing: var(--title-page-letter-spacing);
    line-height: var(--title-page-line-height);
    white-space: nowrap;
    font-style: var(--title-page-font-style);
}

.credits .text-wrapper-8 {
    top: 1917px;
    left: 20px;
    position: absolute;
    font-family: var(--title-page-font-family);
    font-weight: var(--title-page-font-weight);
    color: #000000;
    font-size: var(--title-page-font-size);
    text-align: right;
    letter-spacing: var(--title-page-letter-spacing);
    line-height: var(--title-page-line-height);
    white-space: nowrap;
    font-style: var(--title-page-font-style);
}

.credits .overlap-5 {
    position: absolute;
    width: 1200px;
    height: 730px;
    top: 1979px;
    left: 0;
}

.credits .text-wrapper-9 {
    top: 672px;
    left: 947px;
    position: absolute;
    font-family: var(--title-page-font-family);
    font-weight: var(--title-page-font-weight);
    color: #000000;
    font-size: var(--title-page-font-size);
    text-align: right;
    letter-spacing: var(--title-page-letter-spacing);
    line-height: var(--title-page-line-height);
    white-space: nowrap;
    font-style: var(--title-page-font-style);
}

.credits .image-2 {
    width: 1200px;
    height: 674px;
    top: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
}

.credits .overlap-6 {
    position: absolute;
    width: 1200px;
    height: 721px;
    top: 3407px;
    left: 0;
}

.credits .text-wrapper-10 {
    top: 0;
    left: 20px;
    position: absolute;
    font-family: var(--title-page-font-family);
    font-weight: var(--title-page-font-weight);
    color: #000000;
    font-size: var(--title-page-font-size);
    text-align: right;
    letter-spacing: var(--title-page-letter-spacing);
    line-height: var(--title-page-line-height);
    white-space: nowrap;
    font-style: var(--title-page-font-style);
}

.credits .image-3 {
    width: 1200px;
    height: 671px;
    top: 50px;
    left: 0;
    position: absolute;
    object-fit: cover;
}

.credits .text-wrapper-11 {
    top: 4145px;
    left: 949px;
    position: absolute;
    font-family: var(--title-page-font-family);
    font-weight: var(--title-page-font-weight);
    color: #000000;
    font-size: var(--title-page-font-size);
    text-align: right;
    letter-spacing: var(--title-page-letter-spacing);
    line-height: var(--title-page-line-height);
    white-space: nowrap;
    font-style: var(--title-page-font-style);
}

.credits .image-4 {
    width: 1200px;
    height: 676px;
    top: 4218px;
    left: 0;
    position: absolute;
    object-fit: cover;
}

.credits .image-5 {
    width: 1200px;
    height: 672px;
    top: 2717px;
    left: 0;
    position: absolute;
    object-fit: cover;
}

.credits .overlap-7 {
    position: absolute;
    width: 1200px;
    height: 731px;
    top: 4894px;
    left: 0;
    background-color: #08062d;
}

.credits .text-wrapper-12 {
    position: absolute;
    height: 29px;
    top: 279px;
    left: 85px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: -0.72px;
    line-height: 28.8px;
    white-space: nowrap;
}

.credits .text-wrapper-13 {
    position: absolute;
    height: 48px;
    top: 213px;
    left: 85px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: -1.20px;
    line-height: 48.0px;
    white-space: nowrap;
}

.credits .businessman-choosing {
    position: absolute;
    width: 626px;
    height: 443px;
    top: 120px;
    left: 488px;
    border-radius: 25px;
    object-fit: cover;
}

.credits .rectangle-2 {
    width: 260px;
    height: 70px;
    top: 342px;
    left: 96px;
    background-color: #ffffff;
    position: absolute;
    border-radius: 25px;
}
