:root {
    --single-line-body-base-font-family: "Inter", Helvetica;
    --single-line-body-base-font-weight: 400;
    --single-line-body-base-font-size: 16px;
    --single-line-body-base-letter-spacing: 0px;
    --single-line-body-base-line-height: 100%;
    --single-line-body-base-font-style: normal;
    --title-page-font-family: "Inter", Helvetica;
    --title-page-font-weight: 700;
    --title-page-font-size: 48px;
    --title-page-letter-spacing: -0.96px;
    --title-page-line-height: 120.00000762939453%;
    --title-page-font-style: normal;
    --m3-display-medium-emphasized-font-family: "Roboto", Helvetica;
    --m3-display-medium-emphasized-font-weight: 500;
    --m3-display-medium-emphasized-font-size: 45px;
    --m3-display-medium-emphasized-letter-spacing: 0px;
    --m3-display-medium-emphasized-line-height: 52px;
    --m3-display-medium-emphasized-font-style: normal;
}
